html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

body {
    background-color: rgb(168, 168, 168);
    font-family: 'Roboto Mono', sans-serif;
    font-weight:normal;
    line-height: 2;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
    min-height: 40px;
    /* left: 0; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    word-wrap: break-word;
}

#header-img {
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 30px;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li, li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    padding: 30px;
}

#hero h2 {
    margin-top: 17px;
    word-wrap: break-word;
}

form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    line-height: 2;
    margin: 10px;
    width: 300px;
    text-align: center;
}

#submit {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

.button {
    padding: 0 20px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

hr {
    border: 1px solid rgb(122, 121, 121);
    width: 100%;
}

#features, .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 80vw;
}

.grid {
    flex-direction: row;
    justify-content: space-evenly;
}

.icon {
    display: flex;
    padding-right: 30px;
}

iframe {
    width: 550px;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

.boxes, .container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    padding-bottom: 100px;
}

.box {
    flex: 1;
    background-color: gray;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
}

#footer span {
    display: flex;
    justify-content:center;
    width: 80vw;
    background-color: gray;
    color: #fff;
    font-size: 17px;
}

@media only screen and (max-width: 768px){
    
    li , li a {
        font-size: 10px;
    }

    #features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}